@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
    if (IsAjax)
    {
        Layout = "";
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="loading" style="display: none">
    <img src="http://www.ajaxload.info/cache/FF/FF/FF/00/00/00/8-0.gif" />
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @{ 
                var ajaxOptions = new AjaxOptions() { UpdateTargetId ="details", LoadingElementId="loading" };
            }
            @Ajax.ActionLink("Edit", "Edit", new { id=item.ProductId }, ajaxOptions) |
            @Ajax.ActionLink("Details", "Details", new { id=item.ProductId }, ajaxOptions) |
            @Ajax.ActionLink("Delete", "Delete", new { id=item.ProductId },
                new AjaxOptions() { HttpMethod="POST", UpdateTargetId="main", Confirm = "你確定要刪除嗎？" })
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model as IPagedList, (p) => Url.Action("Index", new { pageNo = p }))


<div id="details"></div>

@section Scripts {

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

}